{% load static i18n widget_tweaks %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registrar</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script>
        function switchTheme(theme) {
            const body = document.body;

            if (theme === 'dark') {
                body.classList.remove('light-theme');
                body.classList.add('dark-theme');
            } else {
                body.classList.remove('dark-theme');
                body.classList.add('light-theme');
            }

            // Salva o tema escolhido em um cookie
            document.cookie = `theme=${theme};path=/`;
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const theme = "{{ theme }}";
            switchTheme(theme);
        });
    </script>
</head>
<body class="light-theme">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand navbar navbar-expand-lg navbar-light bg-light" href="#">Neu.system</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav" style="">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/blog/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register/">Registrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login/">Login</a>
            </li>
            <li>
                <form action="/i18n/setlang/" method="post" class="form-inline">
                    <input type="hidden" name="csrfmiddlewaretoken" value="jg9Ov63HgnrNfSryQ24CerWbXUpbZ72wU6Aj2EJkX1gXV7FNtG8Ox6YSACD2n8IR">
                    <select name="language" onchange="this.form.submit()" class="form-control ml-2">
                        <option value="en">Inglês</option>
                        <option value="pt" selected="">Português</option>
                        <option value="es">Espanhol</option>
                    </select>
                </form>
            </li>
            <li>
                <button class="btn btn-light ml-2" onclick="switchTheme('light')">Light Theme</button>
                <button class="btn btn-dark ml-2" onclick="switchTheme('dark')">Dark Theme</button>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Registrar</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="jg9Ov63HgnrNfSryQ24CerWbXUpbZ72wU6Aj2EJkX1gXV7FNtG8Ox6YSACD2n8IR">
                        <div class="form-group">
                            <label for="id_username">Nome de Usuário</label>
                            <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" class="form-control" required="" id="id_username">
                        </div>
                        <div class="form-group">
                            <label for="id_email">Email</label>
                            <input type="text" name="email" maxlength="150" autocapitalize="none" autocomplete="email" autofocus="" class="form-control" required="" id="id_email">
                        </div>
                        <div class="form-group">
                            <label for="id_password1">Senha</label>
                            <input type="password" name="password1" autocomplete="new-password" class="form-control" required="" id="id_password1">
                        </div>
                        <div class="form-group">
                            <label for="id_password2">Confirme a Senha</label>
                            <input type="password" name="password2" autocomplete="new-password" class="form-control" required="" id="id_password2">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
