body {
    background-color: #343a40;
    color: #343a40;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-light .navbar-brand {
    color: #000000;
}

.navbar-light .navbar-nav .nav-link {
    color: #343a40;
}

.jumbotron {
    background-color: #333333;
    color: #343a40;
    border: 1px solid #444444;
}

.btn-light {
    background-color: #343a40;
    color: #343a40;
}

.btn-dark {
    background-color: #343a40;
    color: #ffffff;
}

.container {
    flex: 1;
    background-color: #343a40;
}

.card {
    background-color: #333333;
    border: 1px solid #444444;
}

.card-header {
    background-color: #444444;
    border-bottom: 1px solid #555555;
}

.card-body {
    background-color: #333333;
}

/* Adicionando estilo para os labels dentro do card-body */
.card-body label {
    color: #ffffff !important;
}
